{{- if .IsBlock -}}
  {{- $image := .Page.Resources.GetMatch .Destination -}}
  <figure class="post-image">
    {{- with $image -}}
      <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ $.PlainText }}" loading="lazy" decoding="async">
    {{- else -}}
      <img src="{{ .Destination | safeURL }}" alt="{{ .PlainText }}" loading="lazy" decoding="async">
    {{- end -}}
    {{- with .Title }}<figcaption>{{ . }}</figcaption>{{ end -}}
  </figure>
{{- else -}}
  <img src="{{ .Destination | safeURL }}" alt="{{ .PlainText }}">
{{- end -}}
